
@font-face {
  font-family: 'GameSymbols';
  src: url('/fonts/Warcrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.game-symbol {
  font-family: 'GameSymbols', sans-serif;
}
